In [58]:
#Importa as bibliotecas
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [59]:
#Instala o xlrd (descomente a linha abaixo caso seja necessário instalar o xlrd)
#!pip install xlrd

# Ler as bases de dados referente a oferta de vagas em disciplinas do DETG para o período de 2019-1 a 2024-1

In [61]:
detg20191 = pd.read_excel('bases/Oferta20191.xls')

In [62]:
detg20192 = pd.read_excel('bases/Oferta20192.xls')

In [63]:
detg20201 = pd.read_excel('bases/Oferta20201.xls')

In [64]:
detg20211 = pd.read_excel('bases/Oferta20211.xls')

In [65]:
detg20212 = pd.read_excel('bases/Oferta20212.xls')

In [66]:
detg20221 = pd.read_excel('bases/Oferta20221.xls')

In [67]:
detg20222 = pd.read_excel('bases/Oferta20222.xls')

In [68]:
detg20231 = pd.read_excel('bases/Oferta20231.xls')

In [69]:
detg20232 = pd.read_excel('bases/Oferta20232.xls')

In [70]:
detg20241 = pd.read_excel('bases/Oferta20241.xls')

# Cria um dataframe com as salas de aulas da Escola Politécnica da UFBA

In [72]:
salas = pd.DataFrame({'Salas': [30101, 30102, 30306, 40124, 50102, 50103, 50104, 60302, 60303, 60304, 70101, 70102, 70103, 70104, 70105, 70106, 70107, 70108, 70302, 70303, 70304, 70305, 70306, 70307, 80301, 80302, 80303, 80304]})

# Cria um dataframe com os laboratórios da Escola Politécnica da UFBA disponibilizados para aulas

In [74]:
laboratorios = pd.DataFrame({'Laboratorios': ['LABGRAD_I', 'LABGRAD_II', 'LIACI', 'LABGEO', 'LIDEQ_II']})

In [75]:
#auditorios = pd.DataFrame({'Auditorios':['José Lourenço Costa', 'Leopoldo Amaral', 'Magno Valente', 'Sala da Congregacao']})

# Identifica as disciplinas que geralemnte são alocadas em laboratórios

In [77]:
disciplinas_laboratorio = ['ENG304', 'ENG305', 'ENGA52', 'ENGJ24', 'ENGJ32', 'ENGJ36', 'ENGJ39', 'ENGJ53', 'ENGJ56', 'ENGL73', 'ENGN87', 'ENG134', 'ENGA62', 'ENGJ27', 'ENGJ29', 'ENGJ33', 'ENGJ34', 'ENGJ37', 'ENGJ40', 'ENGJ58', 'ENGJ71', 'ENGL84', 'ENGM99']

# Junta num dataframe os espaços utilizados para aulas

In [79]:
espacos = pd.concat([salas, laboratorios]).reset_index(drop=True)
print(espacos)

      Salas Laboratorios
0   30101.0          NaN
1   30102.0          NaN
2   30306.0          NaN
3   40124.0          NaN
4   50102.0          NaN
5   50103.0          NaN
6   50104.0          NaN
7   60302.0          NaN
8   60303.0          NaN
9   60304.0          NaN
10  70101.0          NaN
11  70102.0          NaN
12  70103.0          NaN
13  70104.0          NaN
14  70105.0          NaN
15  70106.0          NaN
16  70107.0          NaN
17  70108.0          NaN
18  70302.0          NaN
19  70303.0          NaN
20  70304.0          NaN
21  70305.0          NaN
22  70306.0          NaN
23  70307.0          NaN
24  80301.0          NaN
25  80302.0          NaN
26  80303.0          NaN
27  80304.0          NaN
28      NaN    LABGRAD_I
29      NaN   LABGRAD_II
30      NaN        LIACI
31      NaN       LABGEO
32      NaN     LIDEQ_II

# junta num dataframe as bases de dados referente a oferta de vagas em disciplinas do DETG

In [81]:
detg = pd.concat([detg20191, detg20192, detg20201, detg20211, detg20212, detg20221, detg20222, detg20231, detg20232, detg20241], ignore_index=True)
detg['vagas_ofertadas'] = detg['veteranos'] + detg['calouros']
colunas = list(detg.columns)
indice_preenchidas = colunas.index('preenchidas')
colunas.insert(indice_preenchidas, colunas.pop(colunas.index('vagas_ofertadas')))
detg = detg[colunas]

In [82]:
detg = detg[colunas].drop(columns=['veteranos', 'calouros'])

In [83]:
vagas_colegiado_disciplina = detg.groupby(['col_nm_colegiado', 'dis_nm_disciplina']).agg({
    'vagas_ofertadas': 'sum',
    'preenchidas': 'sum'
}).reset_index()

In [84]:
vagas_colegiado = detg.groupby(['col_nm_colegiado']).agg({
    'vagas_ofertadas': 'sum',
    'preenchidas': 'sum'
}).reset_index()

# exibe a quantidade de vagas ofertadas e preenchidas em cada semestre

In [86]:
vagas_semestre = detg.groupby(['ofe_nu_per_letivo']).agg({
    'vagas_ofertadas': 'sum',
    'preenchidas': 'sum'
}).reset_index()
vagas_semestre.head(10)

   ofe_nu_per_letivo  vagas_ofertadas  preenchidas
0              20191             2015         1241
1              20192             1819         1051
2              20201             1703         1050
3              20211             1336          847
4              20212             1608          904
5              20221             1597         1052
6              20222             1822         1277
7              20231             1737         1143
8              20232             1873         1098
9              20241             1915         1140

# exibe a quantidade total de turmas ofertadas para cada colegiado no período de 2019-1 a 2024-1

In [88]:
contagem_todos = detg['col_nm_colegiado'].value_counts()
print(contagem_todos)

col_nm_colegiado
Engenharia de Agrimensura e Cartográfica    358
Transporte Terrestre - Noturno              268
Interdisciplinar em Ciência e Tecno.-NOT    247
Engenharia Civil                            213
Interdisciplinar em Ciência e Tecnologia    169
Engenharia Sanitária e Ambiental             49
Engenharia de Minas                          43
Interdisciplinar em Humanidades-Noturno      39
ENG_170455_PAVIMENTAÇÃO                      35
Interdisciplinar em Artes - Noturno          28
Interdisciplinar em Saúde - Noturno          19
ALUNO ESPECIAL - GRADUACAO                   16
Engenharia de Produção - Noturno             13
Interdisciplinar em Artes                    12
Arquitetura e Urbanismo                      11
Interdisciplinar em Humanidades               9
Interdisciplinar em Saúde                     6
Engenharia Química                            6
Geografia                                     6
Ciências Biológicas                           6
Geologia                                      5
Engenharia Mecânica                           4
Geografia - Noturno                           4
Oceanografia                                  3
Arquitetura e Urbanismo- Noturno              3
Pedagogia                                     3
Estatística                                   3
Psicologia                                    3
Pedagogia - Noturno                           3
Artes Visuais                                 2
Engenharia da Computação - Noturno            2
Saúde Coletiva - Noturno                      2
Enfermagem                                    2
Geofísica                                     2
Comunicação                                   2
Arquivologia - Noturno                        1
Interdisci. em Ciênc., Tecno. e Inovação      1
Computação - Noturno                          1
Arquivologia                                  1
Ciências Sociais                              1
Desenho Industrial                            1
Terapia Ocupacional                           1
História - Noturno                            1
Eng.de Controle e Automação de Processos      1
Serviço Social                                1
Name: count, dtype: int64

# grava num dataframe as bases de dados referente a oferta de vagas em disciplinas do DETG

In [90]:
detg.to_excel('bases/oferta_20191_a_2024_1_DETG.xlsx', index=False)

# identifica quais cursos estão lotados na Escola Politécnica

In [92]:
cursos_epufba = [102, 103, 104, 105, 106, 107, 149, 185, 186, 188, 194, 197]

# identifica quais cursos de unidades diferentes da EPUFBA solicitaram disciplinas para o DETG no período de 2019-1 a 2024-1

In [94]:
cursos_outras_unidades = detg.loc[~detg['ofe_cd_colegiado'].isin(cursos_epufba), 'ofe_cd_colegiado'].unique()
print(cursos_outras_unidades)

[189 580 190   1 387 515 202 608 286 317 327 196 226 307 312 313 385 116
 109 182 187 118 101 881 381 501 203 110 283 306 512 883 386 119 325]

In [95]:
detg['cursos_epufba'] = detg['ofe_cd_colegiado'].isin(cursos_epufba)

In [96]:
detg['cursos_outras_unidades'] = detg['ofe_cd_colegiado'].isin(cursos_outras_unidades)

In [97]:
vagas_semestre_cursos = detg.groupby(['ofe_nu_per_letivo', 'cursos_epufba']).agg({
    'vagas_ofertadas': 'sum',
    'preenchidas': 'sum',
    'saldo': 'sum'
}).reset_index()
vagas_semestre_cursos.head(10)

   ofe_nu_per_letivo  cursos_epufba  vagas_ofertadas  preenchidas  saldo
0              20191          False              285          194     91
1              20191           True             1730         1047    683
2              20192          False              434          210    224
3              20192           True             1385          841    544
4              20201          False              182          109     73
5              20201           True             1521          941    580
6              20211          False              124           81     43
7              20211           True             1212          766    446
8              20212          False              121           42     79
9              20212           True             1487          862    625

In [98]:
detg.head()

,ofe_nu_per_letivo,dis_cd_departamento,dis_cd_disciplina,dis_nu_per_inicial,dis_nm_disciplina,ofe_cd_turma,ofe_cd_colegiado,col_nm_colegiado,vagas_ofertadas,preenchidas,saldo,nivel_disc,cd_atividade,nm_atividade,cursos_epufba,cursos_outras_unidades
0,20191,ENG11,ENG006,20152,ENGENHARIA E SEGURANÇA DE TRÁFEGO,10100,102,Engenharia Civil,30,27,3,Graduação,NaN,NaN,True,False
1,20191,ENG11,ENG028,20152,TRANSPORTE PÚBLICO,10100,102,Engenharia Civil,25,11,14,Graduação,NaN,NaN,True,False
2,20191,ENG11,ENG028,20152,TRANSPORTE PÚBLICO,10100,189,Interdisciplinar em Ciência e Tecno.-NOT,2,2,0,Graduação,NaN,NaN,False,True
3,20191,ENG11,ENG028,20152,TRANSPORTE PÚBLICO,10100,197,Transporte Terrestre - Noturno,2,0,2,Graduação,NaN,NaN,True,False
4,20191,ENG11,ENG028,20152,TRANSPORTE PÚBLICO,10100,580,Interdisciplinar em Artes - Noturno,1,1,0,Graduação,NaN,NaN,False,True

In [99]:
#detg.drop(columns=['curso_epufba', 'cursos_outras_unidades'], inplace=True)

In [100]:
vagas_cursos_epufba = detg[detg['cursos_epufba']].groupby(['col_nm_colegiado']).agg({
    'vagas_ofertadas': 'sum',
    'preenchidas': 'sum'
}).reset_index()

print(vagas_cursos_epufba)

                           col_nm_colegiado  vagas_ofertadas  preenchidas
0  Eng.de Controle e Automação de Processos                1            1
1                          Engenharia Civil             3959         2844
2                       Engenharia Mecânica                6            5
3                        Engenharia Química                9            7
4          Engenharia Sanitária e Ambiental              375          252
5        Engenharia da Computação - Noturno                2            2
6  Engenharia de Agrimensura e Cartográfica             3207         1925
7                       Engenharia de Minas              283          160
8          Engenharia de Produção - Noturno              198          133
9            Transporte Terrestre - Noturno             6720         3870

In [101]:
# Isso está errado, é necessario corrigir

# Criar uma nova coluna que combine dis_cd_disciplina e ofe_cd_turma
detg['disciplina_turma'] = detg['dis_cd_disciplina'].astype(str) + '_' + detg['ofe_cd_turma'].astype(str)

# Agrupar por ofe_nu_per_letivo e contar combinações únicas de disciplina e turma
total_disciplinas = detg.groupby('ofe_nu_per_letivo')['disciplina_turma'].nunique().reset_index()

# Renomear a coluna
total_disciplinas.rename(columns={'disciplina_turma': 'total_disciplinas_turmas'}, inplace=True)

# Contar total de laboratórios e salas por ofe_nu_per_letivo
detg['no_laboratorio'] = detg['dis_cd_disciplina'].isin(disciplinas_laboratorio)
total_laboratorios = detg[detg['no_laboratorio']].groupby('ofe_nu_per_letivo').size().reset_index(name='total_laboratorios')
total_salas = detg[~detg['no_laboratorio']].groupby('ofe_nu_per_letivo').size().reset_index(name='total_salas')

# Combinar os totais de laboratórios e salas com total_disciplinas
total_disciplinas = total_disciplinas.merge(total_laboratorios, on='ofe_nu_per_letivo', how='left')
total_disciplinas = total_disciplinas.merge(total_salas, on='ofe_nu_per_letivo', how='left')

print(total_disciplinas)

   ofe_nu_per_letivo  total_disciplinas_turmas  total_laboratorios  \
0              20191                        83                  67
1              20192                        76                  67
2              20201                        72                  58
3              20211                        71                  33
4              20212                        75                  42
5              20221                        83                  73
6              20222                        85                  52
7              20231                        85                  43
8              20232                        76                  55
9              20241                        74                  60

   total_salas
0          110
1          109
2          104
3           86
4           98
5          138
6          124
7          106
8           85
9           96

In [102]:
vagas_cursos_epufba = vagas_cursos_epufba.sort_values(by='vagas_ofertadas', ascending=False)
print(vagas_cursos_epufba)

                           col_nm_colegiado  vagas_ofertadas  preenchidas
9            Transporte Terrestre - Noturno             6720         3870
1                          Engenharia Civil             3959         2844
6  Engenharia de Agrimensura e Cartográfica             3207         1925
4          Engenharia Sanitária e Ambiental              375          252
7                       Engenharia de Minas              283          160
8          Engenharia de Produção - Noturno              198          133
3                        Engenharia Química                9            7
2                       Engenharia Mecânica                6            5
5        Engenharia da Computação - Noturno                2            2
0  Eng.de Controle e Automação de Processos                1            1